body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #FF0000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
img{
  max-width: 20%;
  height: auto;
}